.app-container {
  background-color: #faf4f2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  width: 100%;
}

.app-myprofile-picture img {
  display: block;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  position: relative;
}

.name-text {
  margin-top: 16px;
  color: #222222;
  font-size: 40px;
  font-weight: 600;
}
.desccirption-text {
  margin-top: 48px;
  font-size: 18px;
  color: #222222;
}
.app-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.app-follow-me {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.app-icon-follow {
  display: flex;
  justify-content: space-between;
}
