.portfolio-container {
  width: 100%;
}

.portfolio-header {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}

.portfolio-header h1 {
  color: #222;
  font-size: 48px;
  font-weight: 600;
  line-height: 123.6%;
  display: flex;
  justify-content: space-between;
}

.portfolio-text-more {
  color: rgba(34, 34, 34, 0.5);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
}

.portfolio-text-more span {
  font-size: 20px;
}

.portfolio-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr;

  gap: 4px;
  width: 80%;
  row-gap: 30px;

  margin: 0 auto;
}

.portfolio-grid {
  text-align: center;
  margin-bottom: 80px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.portfolio-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (width < 1440px) {
  .portfolio-box {
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
  }
}

@media only screen and (width < 1176px) {
  .portfolio-box {
    grid-template-columns: 1fr;
  }
}
