.portfolio-container {
  width: 100%;
}
.portfolio-header {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.portfolio-header h1 {
  padding-left: 250px;
  color: #222;
  font-size: 48px;
  font-weight: 600;
  line-height: 123.6%;
}

.portfolio-text-more {
  color: rgba(34, 34, 34, 0.5);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 123.6%;
  text-transform: capitalize;
}

.portfolio-text-more span {
  font-size: 20px;
  padding-left: 8px;
  margin-right: 271px;
}

.portfolio-box {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row: auto auto;
  margin-left: 271px;
  margin-right: 271px;
  margin-top: 64px;
  gap: 4px;
}

.portfolio-grid {
  font-size: 30px;
  text-align: center;
  margin-bottom: 80px;
}
